@model ReservationModel
@{
    ViewData["Title"] = "Specialists";
    Layout = null;
    var error = ViewBag.Error;
    var user = ViewBag.User;
}
@{ 
    IEnumerable<MyUsersIdentity> doctors = ViewData["Doctors"] as IEnumerable<MyUsersIdentity>;
}
<style>

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    div.ui-datepicker {
        font-size: 15px;
    }
    /*
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 0.5px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 10px;
        text-align: center;
    }

    #feedback {
        font-size: 1.4em;
    }

    #content .ui-selecting {
        background: #FECA40;
    }

    #content .ui-selected {
        background: #F39814;

    }
        */
    #data {
        width: 100%;
    }

    #content, #datePicker, #doctorsList {
        width: 100%;
        text-align: center;
        font-size: large;
        padding: 5px;
    }

    #card {
        margin-right: 20px;
        margin-left: 5px;
        border: 2px solid black;
        height: 230px;
        width: auto;
        padding: 10px;
    }

    #panel {
        height: 250px;
    }
</style>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/resources/img/favicon.ico">
    <link href="~/resources/css/customStyle.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>M-Med</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/resources/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">


    <link href="~/resources/css/customStyle.css" rel="stylesheet" />
    <link href="~/resources/css/animate.min.css" rel="stylesheet" />
</head>

<body style="overflow-x:hidden; overflow-y:visible" id="body">
    <div id="myModal" style="margin-top:50px;" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <form asp-action="Reservation" asp-controller="Home" method="post" id="form">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><h4 class="modal-title">Reservation</h4></center>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Date">Date</label>
                            <input asp-for="Date" class="datepicker" type="text" id="datePicker" />
                            <span asp-validation-for="Date" class="field-validation-valid text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Specialist"></label>
                            <input asp-for="Specialist" type="text" class="form-control" id="doctor" value="" disabled/>
                            <span asp-validation-for="Specialist" class="field-validation-valid text-danger"></span>
                        </div>
                        <div id="data" hidden>
                            <div class="input-group-prepend">
                                <label asp-for="Time"></label>
                            </div>
                            <select id="content" class="custom-select" asp-for="Time" hidden>
                            </select>
                        </div>

                    </div>

                    <div class="modal-footer" style="width:100%; position: relative; padding:30px;">
                        <div class="center">
                            <input type="submit" value="Submit" class="btn btn-primary" onclick="Reload()" />
                            <input type="reset" value="Reset" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>
    <div class="main-panel">
        <div class="container">
            <a class="btn btn-secondary" style="margin-top:10px; float:right; margin-right:50px" asp-action="LogOut" asp-controller="Home">Logout</a>
        </div>
        <div class="wrapper">
            <div class="sidebar" data-color="orange">

                <!--

                    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                    Tip 2: you can also add an image using data-image tag

                -->

                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a asp-action="Index" asp-controller="Home" class="simple-text">
                            McMed
                        </a>
                    </div>

                    <ul class="nav">

                        <li>
                            <a asp-action="UsersProfile" asp-controller="Home">
                                <i class="pe-7s-user"></i>
                                <p>My profile</p>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Home">
                                <i class="pe-7s-graph"></i>
                                <p>Reservations</p>
                            </a>
                        </li>
                        <li class="active">
                            <a asp-action="Specialists" asp-controller="Home">
                                <i class="pe-7s-note2"></i>
                                <p>Specialists</p>
                            </a>
                        </li>
                        <li>
                            <a href="typography.html">
                                <i class="pe-7s-news-paper"></i>
                                <p>Typography</p>
                            </a>
                        </li>
                        <li>
                            <a href="icons.html">
                                <i class="pe-7s-science"></i>
                                <p>Icons</p>
                            </a>
                        </li>
                        <li>
                            <a href="maps.html">
                                <i class="pe-7s-map-marker"></i>
                                <p>Maps</p>
                            </a>
                        </li>
                        <li>
                            <a href="notifications.html">
                                <i class="pe-7s-bell"></i>
                                <p>Notifications</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content" style="margin-top:50px;">
                <div class="container" style="width: 100%;">
                    <table style="width: 100%;">
                        @foreach (var doctor in doctors)
                        {
                            <tr>
                                <td>
                                    <div class="panel panel-default" id="panel">
                                        <div class="panel panel-body" id="panel">
                                            <div class="row" id="panel" style="width: 100%;">
                                                <div class="col-md-2">
                                                    <div style="float:left !important; margin-top:20px">

                                                        <img src="~/resources/img/@doctor.ProfileImagePath" style="height:150px;width:150px;" />
                                                    </div>

                                                </div>
                                                <div class="col-md-offset-3" id="doctorsName">
                                                    <a href="#" id="doctorsName">@Html.DisplayFor(item => doctor.Name)</a>
                                                    <p>@Html.DisplayFor(item => doctor.Specialization)</p>
                                                    <h5>Education</h5>
                                                    <p>Some text here</p>
                                                    <div>
                                                        <p>Rating blok</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="width:70%; margin-top:20px;">
                                                    <div class="panel-footer" style="width:70%;background-color:transparent;border-top-color:transparent;">
                                                        <a class="btn btn-primary" data-content="@doctor.Specialization (@doctor.Name  @doctor.Surname)" data-whatever="@doctor.Specialization (@doctor.Name  @doctor.Surname)" data-toggle="modal" data-target="#myModal">Make reservation</a>
                                                        <a class="btn btn-primary" data-content="@doctor.Specialization (@doctor.Name  @doctor.Surname)" data-whatever="@doctor.Specialization (@doctor.Name  @doctor.Surname)" id="getDoc" onclick="GetDoc()">GetDoctor</a>
                                                        <a class="btn btn-secondary">Opinions</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <p>List</p>
                <div class="container">
                    <table style="width: 100%;">
                        @foreach (var doctor in doctors)
                        {
                            <tr>
                                <td>
                                    <div class="panel panel-default" id="panel">
                                        <div class="panel panel-body" id="panel">
                                            <div class="row" id="panel" style="width: 100%;">
                                                <div class="col-md-2">
                                                    <div style="float:left !important; margin-top:20px">

                                                        <img src="~/resources/img/@doctor.ProfileImagePath" style="height:150px;width:150px;" />
                                                    </div>

                                                </div>
                                                <div class="col-md-offset-3" id="doctorsName">
                                                    <a href="#" id="doctorsName">@Html.DisplayFor(item => doctor.Name)</a>
                                                    <p>@Html.DisplayFor(item => doctor.Specialization)</p>
                                                    <h5>Education</h5>
                                                    <p>Some text here</p>
                                                    <div>
                                                        <p>Rating blok</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="width:70%; margin-top:20px;">
                                                    <div class="panel-footer" style="width:70%;background-color:transparent;border-top-color:transparent;">
                                                        <a class="btn btn-primary"  onclick="MakeReservation()">Make reservation</a>
                                                        <a class="btn btn-secondary">Opinions</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-right">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/resources/js/bootstrap-notify.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="~/resources/js/chartist.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/resources/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

    <script>
        var Popup, dataTable, dateText;

     $(document).ready(function () {
         
        
        
            $.ajax({
                success: function () {
                    $('#doctor').empty();
                    $('#content').empty();
                    $("#datePicker").empty();
                }
            })
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.data('whatever');
                var modal = $(this);
                var input = document.getElementById('doctor');
                var data = button.data('content');

                //$('#doctor').empty();-------->

                //$("#datePicker").empty();
                //input.setRangeText(data.slice(0));---------->
                //input.value = '';
                modal.find('.modal-body #doctor').val(data);
                // input.setRangeText(data);
                // $('#datePicker').datepicker('setDate', null);

                //input.value = '';
                //input.value =' ';
                //$('#doctor').empty();
                //$("#datePicker").empty();
                //modal.find('.modal-body #doctor').val(recipient); это работает
                // modal.find('.modal-body #doctor').val(recipient);
                //document.getElementById('doctor').setAttribute('value', recipient);
            });
            $('#myModal').on('hidden.bs.modal', function () {
                location.reload();
            });
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy',
                minDate: new Date(),
                maxDate: '+2w',

                onSelect: function (date, doctor) {
                    doctor = $('#doctor').serialize();
                    if (doctor != null) {
                        $.ajax({
                            type: 'Get',
                            url: '/Home/GetSlots',
                            data: jQuery.param({ 'specialist': doctor, 'date': date }),
                            dataType: 'json',
                            success: function (time) {
                                $('#content').empty();
                                ReturnGrid(time);

                                // $("#selectable").selectable();
                                //полная перезагрузка страницы
                                //window.location.reload();
                            }
                        })

                    }
                },
                beforeShowDay: $.datepicker.noWeekends
            });

     });
        function MakeReservation() {
            var formDiv = $('<div/>');
            $.get()
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        modal: true,
                        draggable: false,
                        position: { my: "center", at: "top", of: window },
                        resizable: false,
                       
                        height: 400,
                        width: 300,
                        close: function () {
                            $(this).closest('.ui-dialog-content').dialog('destroy').remove();
                        }
                    });
                });
        }
        function GetDoc() {
            //var getDoc = document.getElementById('getDoc').data('whatever');
            //var getDoc = $('#getDoc').data('whatever');
             //   $.ajax({
                   // data: data,
                    //type: 'Get',
                    //url: 'Home/GetDoctor',
                    //data: getDoc,
                  //  success: function () {
                  ///     // var getDoc = document.getElementById('getDoc').value;
                      //  var doc = $('#getDoc').data('content');
                     //  return alert(doc);
                    //}
            //})
            //alert(getDoc);
            var element = $(this);
            var _data = element.attr('data-content');
            alert(_data);
            /*
            $.ajax({
                type: 'GET',
                data: _data,
                success: function (data) {
                    alert(data);
                }
            });
            */
        }
        function ReturnGrid(time) {
            $.each(time, function (index, value) {
                //document.getElementById("timeList").style.visibility = 'visible';

                //$("#content").append('<option>' + value + '</option>');
                $("#data").show();
                $("#content").show();
                $("#content").append('<option id="option">' + value + '</option>');
                //$("#content").append('<div class="grid-item"><input id="input" asp-for="Time" value="' + value +'" disabled/></div>')
                //$("#timeList").append('<div class="grid-item"><option>' + value + '</option></div>');
                //$("#content").append('<div id="selectable" onclick="Selectable()"><p class= "ui-state-default">' + value + '</p></div>');
                //$("#content").append('<div class="grid-item"><p class="ui-widget-content" id="selectable">'+ value +'</p></div>');


            })
            //$("#selectable").selectable();

        }

        function Click() {
            var name = document.getElementById('doctor');
            document.getElementById('myModal').style.display = '';
            
            //alert(text);
        }

        function ResultFucntion() {
            var doctor = document.getElementById('doctorsList').value;
            var date = document.getElementById('datePicker').value;
            if (date.length == 10) {
                $.ajax({
                    type: 'Get',
                    url: '/Home/GetSlots',
                    data: jQuery.param({ 'specialist': doctor, 'date': date }),
                    dataType: 'json',
                    success: function (time) {
                        $('#content').empty();
                        ReturnGrid(time);
                        //$("#selectable").selectable();
                    }
                })
            }
        }
        $('.datepicker').datepicker({
            dateFormat: 'dd.mm.yy',
            minDate: new Date(),
            maxDate: '+2w',

            onSelect: function (date, doctor) {
                doctor = $('#doctorsList option:selected').text();
                if (doctor != "Choose...") {
                    $.ajax({
                        type: 'Get',
                        url: '/Home/GetSlots',
                        data: jQuery.param({ 'specialist': doctor, 'date': date }),
                        dataType: 'json',
                        success: function (time) {
                            $('#content').empty();
                            ReturnGrid(time);

                            // $("#selectable").selectable();
                            //полная перезагрузка страницы
                            //window.location.reload();
                        }
                    })

                }
            },
            beforeShowDay: $.datepicker.noWeekends
        });
      
        function Selectable() {
            $("#content").selectable();
        }
       
       
    </script>
</body>

